<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
  <title>Blog Site</title>
</head>
<body>

  <div class="header">
    <div class="navigation-bar">
      <a href="/" class="navigation-btn home_btn">Home</a>
      <a href="/dashboard" class="navigation-btn dashboard_btn">Dashboard</a>
      <a href="#" id="logout-link" class="navigation-btn logout-nav">Log out</a>
    </div>
    <h1 class="title">📖 Blogger</h1>
  </div>

  <div class="dashboard">
    <div class="">
      <h2> 📌 Your Dashboard</h2>
    </div>

    <div class="dash-body">
      {{{body}}}
    </div>

    <button type="button" name="button" class="new-blog-btn">🖋 New Blog</button>
  </div>

</body>

</html>
