<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
  <title>Blog Site</title>
</head>
<body>
  <div class="header">
    <div class="navigation-bar">
      <a href="/" class="navigation-btn home_btn">Home</a>
      <a href="/dashboard" class="navigation-btn dashboard_btn">Dashboard</a>
      <a href="/login" class="navigation-btn login-nav">Login</a>
      <a href="#" class="navigation-btn logout-nav" id="logout-link">Log out</a>
    </div>
    <h1 class="title"><a href="/">📖 Blogger.</a></h1>
  </div>
  <main>

    {{{body}}}
  </main>

</body>
<script src="/js/logout.js"></script>
</html>
