<div class="login-forum validation">
    <div class="card-title">
      <h3>Login</h3>
    </div>
    <form class="card-body">
      <div class="username">
        <label for="username-input-login">Username</label>
        <input type="text" id="username-input-login" class="username-input"/>
      </div>
      <div class="password">
        <label for="password-input-login" class="form-label">Password</label>
        <input class="pswrd-input" type="password" id="password-input-login" />
      </div>
      <button type="submit" id="login-btn" class="btn login-btn">Log in</button><br>
      <a class="forum-link" type="button" href="/signup">Sign up instead</a>
    </form>
  </div>
<script type="/js/login.js"></script>
