<div class="signup-forum validation">
    <div class="card-title">
      <h3>Sign Up</h3>
    </div>
    <div id="signup" role="tabpanel">
      <form id="signup-form" class="card-body">
        <div>
          <label for="username-input-signup">Username</label>
          <input type="text" id="username-input-signup" class="username-input"/>
        </div>
        <div>
          <label for="password-input-signup">Password</label>
          <input class="pswrd-input" type="password" id="password-input-signup" />
        </div>
        <button type="submit" id="signup-btn" class="btn signup-btn">Sign up</button><br>
        <a class="forum-link" href="/login">Login instead</a>
      </form>
    </div>
  </div>

  <script type="/js/signup.js">

  </script>
