body{
  background-color: #DDDEDE;
  margin: 120px 0 0 0;
  text-align: -webkit-center;
}

.hide{
  display: none;
}

.header{
  background: rgb(35, 33, 34, 0.8);
  color: #A5C05B;
  flex-flow: column;
  box-shadow: 15px 20px 20px rgb(42, 49, 50, 0.6);
  width: 100%;
  position: fixed;
  top: 0;

}
.title{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  padding-top: 0px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 5px;
}
.header .navigation-bar{
  background-color: #7BA4A8;
  display: flex;
  padding-left: 15px;


}

.header .navigation-bar .navigation-btn{
  padding: 3px 10px 3px 10px;
  color: #DDDEDE ;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  opacity: 1;
}

.header .navigation-bar .navigation-btn:hover {
  background-color: #A5C05B;
  color: rgb(35, 33, 34, 0.8);
}
.validation {
  margin-top: 40px;
  width: 50%;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 15px 20px 25px rgb(42, 49, 50, 0.3);
  color: rgb(35, 33, 34, 0.8);
  padding-bottom: 10px;
}

.card-title{
  font-family: 'Montserrat', sans-serif;
  color: #DDDEDE;
  margin-bottom: 10px;
  background-color: #7BA4A8;
}
.card-title h3{
  padding-bottom: 3px;
}
.pswrd-input{
  margin-left: 5px;
  margin-top: 10px;
}
.btn{
  width: 15%;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #A5C05B;
  color: rgb(35, 33, 34, 0.8);
  font-family: 'Montserrat', sans-serif;
  box-shadow: 10px 10px 10px rgb(42, 49, 50, 0.3);
}
.btn:hover{
  width: 12%;
  box-shadow: 10px 10px 10px rgb(42, 49, 50, 0.1);
}

.forum-link{
  color: #A5C05B;
  text-decoration: none;
}
.forum-link:hover{
  text-decoration: underline;
}
.dashboard h2{
  background: rgb(255,255,255, 0.3);
  margin-top: 30px;
  margin-bottom: 30px;
  width: 40%;
  color: rgb(35, 33, 34, 0.8);
  font-family: 'Montserrat', sans-serif;
  box-shadow: 15px 20px 25px rgb(42, 49, 50, 0.4);
}
.dashboard .dash-body{
  width: 90%;
  display: flex;
  flex-flow: wrap;
  text-align: center;
  padding-left: 15%;
}
.dashboard .post{
  background: rgb(255,255,255, 0.2);
  color: #7BA4A8;
  box-shadow: 15px 20px 25px rgb(42, 49, 50, 0.4);
  padding-left: 10px;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 10px 10px 10px;
  width: 75%;
}

.dashboard .post h4{
  color: rgb(35, 33, 34, 0.8);
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 1.5rem;

}
.dashboard .post h6{
  margin-top: 5px;
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.dashboard .post:hover{
  width: 76%;
}
.new-blog-btn{
  width: 20%;
  border: none;
  margin-top: 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  background: rgb(35, 33, 34, 0.8);
  color: #A5C05B;
  box-shadow: 15px 20px 15px rgb(42, 49, 50, 0.5);
}
.new-blog-btn:hover{
  width: 21%;
}
.edit-blog .edit-header{
  background: rgb(255,255,255, 0.2);
  margin-top: 30px;
  margin-bottom: 30px;
  width: 40%;
  color: rgb(35, 33, 34, 0.8);
  font-family: 'Montserrat', sans-serif;
  box-shadow: 15px 20px 25px rgb(42, 49, 50, 0.5);
}

.edit-blog .edit-body{
  background: rgb(255,255,255, 0.2);
  width: 80%;
  display: flex;
  flex-flow: column;
  font-family: 'Montserrat', sans-serif;
  color: rgb(35, 33, 34, 0.8);
  box-shadow: 15px 20px 25px rgb(42, 49, 50, 0.7);
}

.text-area{
  width: 90%;
  margin-left: 5%;
  margin-bottom: 5px;
  padding-bottom: 10px;
}

.edit-btn{
  align-self: center;
  width: 35%;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #7BA4A8;
  color:#DDDEDE;
  border-radius: 0;
  border: none;
  box-shadow: 10px 10px 10px rgb(42, 49, 50, 0.2);

}
.edit-btn:hover{
  box-shadow: 15px 15px 15px rgb(42, 49, 50, 0.4);
  width: 38%;
}
.full-post{
  background: rgb(255,255,255, 0.3);
  width: 80%;
  box-shadow: 15px 20px 15px rgb(42, 49, 50, 0.6);
}
.post-title h6{
  text-decoration: underline;
  margin-top: 25px;;
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(35, 33, 34, 0.8);
}
.full-post .post-detail{
  color: #7BA4A8;
  padding-bottom: 5px;
}
.full-post .post-body{
  color: rgb(35, 33, 34, 0.8);
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 20px;
}
